.construction {
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  width: 100vw;
  height:100vh;
}
    
.contains, p {
    font-family: 'JetBrains Mono', Calibri, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: .5em;
}
